bin/
/*.class
/*.bak
/*.aux
/*.gz
.Rproj.user
.RData
*.synctex.gz
*.aux
*.bbl
*.blg
*.log
*.Rhistory
*.Rhistory
*.toc
*.nav
*.snm
*.out
*.spyproject
*.tar
*.tar.gz
notMNIST_large/
notMNIST_small/
*.pickle
MNIST_data/
*.zip
*.meta
PersonalDirectory.py